@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;

  font-family: "Open Sans", sans-serif;
}

.initials-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff; /*<-- Default color*/
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}
