@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.initials-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff; /*<-- Default color*/
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.homepage {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: fixed;
}

nav .initials-circle {
  margin-left: 45px;
}

nav li {
  list-style: none;
  margin-left: -10px;
}

nav a {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 3.7rem;
  gap: 1rem;
  position: relative;
}

nav span {
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
}

nav li:last-child {
  position: absolute;
  bottom: 2.5rem;
}

.body {
  margin-left: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
